@model SignInVM;

<section class="sign_in">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 wow fadeInLeft">
            <div class="sign_in_img">
                <img src="~/assets/images/sign_in_img.jpg" alt="sign in" class="img-fluid w-100">
            </div>
        </div>
        <div class="col-xl-6 col-md-10 col-lg-6 wow fadeInRight">
            <div class="sign_in_form">
                <a class="sign_in_logo" href="index.html">
                    <img src="~/assets/images/logo.png" alt="sign in" class="img-fluid w-100">
                </a>
                <h2>Welcome back, sign in</h2>
                <div asp-validation-summary="ModelOnly" style="color:red;margin-left:15px">
                </div>
                <p class="description">Sign in to your account and make recharges. payments and bookings faster</p>
                <form method="post">
                    <div class="row">
                        <div class="col-xl-12">
                            <input asp-for="@Model.Username" placeholder="Role...">
                            <span asp-validation-for="Username" style="color:red;margin-left:15px"></span>

                        </div>
                        <div class="col-md-6">
                            <input asp-for="@Model.Password" placeholder="Password...">
                            <span asp-validation-for="Password" style="color:red;margin-left:15px"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="sign_in_check_area">
                                <div class="form-check">
                                    <input asp-for="IsRemember">
                                    <label  for="remember">
                                        Remember me
                                    </label>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="common_btn" type="submit">sign in</button>
                        </div>
                    </div>
                </form>
                <p class="or">or</p>
              
                <p class="dont_account">Don’t have an account? <a asp-action="SignUn">Sign Up</a></p>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}